* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(Untitled@1-1536x703.jpg);
  background-repeat: no-repeat;
  background-color: rgb(100, 100, 100);
}

.airpad {
  height: 1000px;
  margin-top: 900px;
  border-radius: 0px 70px 70px 0px;
}

.welcome {
  font-size: 50px;
  font-family: b titr;
  position: relative;
  text-align: center;
  width: 600px;
  color: white;
  margin-left: 320px;
  margin-top: 180px;
}

