h1 {
  background-color: rgba(137, 43, 226, 0);
  position: absolute;
  margin-bottom:500px;
  margin-left: 600PX;
  width: 300px;
  text-align: center;
  color: #ffffff;
  border: #ffffff 1px solid;
  height: 40px;
  padding-top: 5px;
  border-radius: 100px;
}

body {
  background-image: url(Macbook\ Pro\ -\ Copy@1-1536x715\ \(1\).jpg);
}